* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.container {
  width: 900px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}


.slide .cr_item {
  display: none;
  height: 100%;
}

.cr_item.cr_active {
  display: block;
}

.cr_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cr_arrows_top {
  cursor: pointer;
  position: absolute;
  left: 55%;
  top: 10px;
}

.cr_arrows_bottom {
  cursor: pointer;
  position: absolute;
  left: 55%;
  bottom: 10px;
}

.item {
  width: 100%;
  display: none;
}

.item img {
  aspect-ratio: 2.3;
}

.item.active {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.text {
  position: absolute;
  bottom: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  padding: 35px;
}

.items {
  position: relative;
  width: 80%;
  display: flex;
}

.thumbs {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumb {
  filter: brightness(0.1);
  cursor: pointer;
}

.thumb img {
  max-width: 113px;
}

.thumb.active {
  filter: brightness(1);
}

.cr_arrows_top i, .cr_arrows_bottom i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.cr_arrows_top:hover i, .cr_arrows_bottom:hover i {
  color: rgba(255, 255, 255, 1);
}

.prev {
  color: white;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
}

.next {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}